{
  "printWidth": 720,       
  "semi": false,           
  "singleQuote": true,     
  "trailingComma": "none", 
  "quoteProps": "as-needed", 
  "arrowParens": "avoid",  
  "bracketSpacing": false  
}
